* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.top-section{
  /* background-color: black; */
  position: sticky;
  top: -90px;
}

/* top-section-1 */

.top-section-1 {
  height: 62px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dedede;
  overflow: hidden;
}

.ul-top-section-1 {
  list-style-type: none;
  height: 62px;
  width: 913px;
  display: flex;
}

.pokemon-logo {
  height: 64px;
  width: 99px;
  padding: 9px 10px 8px 10px;
  box-shadow: 0 0 7px 1px #666666;
  -webkit-box-shadow: 0 0 7px 1px #666666;
  -moz-box-shadow: 0 0 7px 1px #666666;
}

.shop-logo {
  padding: 9px 10px 8px 10px;
  height: 64px;
  width: 99px;
}

.aboutus-logo {
  padding: 9px 10px 8px 10px;
  height: 64px;
  width: 99px;
}

.pokemon-TCG-logo {
  margin: 6px 0 6px 7px;
}

.pokemon-legend-ZA-logo {
  margin: 6px 0 6px 7px;
}

.pokemon-forum-logo {
  margin: 6px 0 6px 7px;
}

/* top-section-2 */

.ul-top-section-2 {
  list-style-type: none;
  height: 89px;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5px;

}

.Home {
  background-color: #919191;
  color: white;
  height: 87px;
  width: 127.84px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex {
  background-color: white;
  color: #919191;
  height: 87px;
  width: 127.84px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.pokedex:hover {
  background-color: #e3350d;
  color: white;
}

.pokedex::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #e3350d;
}

.video-games-apps {
  background-color: white;
  color: #919191;
  height: 87px;
  width: 127.84px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.video-games-apps:hover {
  background-color: #ee6b2f;
  color: white;
}

.video-games-apps::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #ee6b2f;
}

.TCG {
  background-color: white;
  color: #919191;
  height: 87px;
  width: 127.84px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
  justify-content: center;
}

.TCG:hover {
  background-color: #e6bc2f;
  color: white;
}

.TCG::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #e6bc2f;
}

.animation {
  background-color: white;
  color: #919191;
  height: 87px;
  width: 127.84px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
  justify-content: center;
}

.animation:hover {
  background-color: #4dad5b;
  color: white;
}

.animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #4dad5b;
}

.events {
  color: #919191;
  background-color: white;
  height: 87px;
  width: 127.84px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
  justify-content: center;
}

.events:hover {
  background-color: #30a7d7;
  color: white;
}

.events::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #30a7d7;
}

.news {
  background-color: white;
  color: #919191;
  height: 87px;
  width: 127.84px;
  border-bottom-right-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
  justify-content: center;
}

.news:hover {
  background-color: #1b53ba;
  color: white;
}

.news::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #1b53ba;
}

/* first image section */
.grid-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.actual-image-section-1 {
  width: 900px;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(12, 1fr) 10px;
  gap: 20px;
}

.child-of-all-sec {
  border-radius: 10px;
}

#first {
  grid-area: 1 / 1 / 9 / 14;
  background-color: #a4a4a4;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/trading-card-game/_tiles/2025/artist-debuts/artist-debuts-169-en.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#second {
  grid-area: 1 / 14 / 4 / 22;
  background-color: #e6bc2f;
  color: white;
  display: flex;
  align-items: center;
}

.second-card-img {
  height: 100%;
  width: 50%;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/misc/_tiles/2025/year-in-review/year-in-review-34-en.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.second-card-text {
  height: 100%;
  width: 50%;
  font-size: 17px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

#third {
  grid-area: 4 / 14 / 9 / 22;
  background-color: #855ac9;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/misc/_tiles/2026/pokopia-preorders/pokopia-preorders-169-us.png);
  background-size: 101% 150px;
  background-repeat: no-repeat;
}

#forth {
  grid-area: 9 / 15 / 13 / 22;
  background-color: #313131;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/video-games/_tiles/pokemon-scarlet-violet/events/2026/01/04/a/scarlet-violet-169.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#fifth {
  grid-area: 9 / 1 / 14 / 8;
  background-color: #ff90c4;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/video-games/_tiles/tcg-pocket/2025/11/09/pokemon-tcg-pocket-169-en.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#sixth {
  grid-area: 9 / 8 / 14 / 15;
  background-color: #30a7d7;
  background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/trading-card-game/_tiles/me/me2pt5/preview-cards/me2pt5-preview-cards-1-169-en.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.child-of-all-sec:hover {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
